.scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white black;
  height: 81vh;
}

.scroll::-webkit-scrollbar {
  width: 11px;
}

.scroll::-webkit-scrollbar-track {
  background: black;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
  border: 3px solid black;
}
