.footl {
  background-color: black;
  position: sticky;
  left: 1%;
  bottom: 1px;
  opacity: 0.7;
  z-index: 9999;
  width: 99%;
  font-size: 16px;
}

.emal {
  color: white;
  text-decoration: none;
}

.emal a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 920px) {
  .footl {
    width: 97%;
    font-size: 12px;
  }
}
