.footl {
  background-color: black;
  position: absolute;
  left: 1%;
  bottom: 1px;
  opacity: 0.7;
  z-index: 9999;
  width: 95%;
}

.emal {
  color: white;
  text-decoration: none;
}

.emal a {
  color: white;
  text-decoration: none;
}
