.antet {
  background-size: 100%;
  background-color: black;
  height: auto;
}

.naviaut {
  margin-left: auto;
}

.titlec {
  margin-right: auto;
}

@media only screen and (max-width: 1300px) {
  .logotit {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .antet, .naviaut {
    flex-direction: column;
  }
}
